.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
}

.ingredients, .macronutrition, .feedback {
  /* background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */

        background-color: #e5e5e5;
        border-radius: 20px;
        padding: 20px;

}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrage vertical */
  gap: 10px;
  height: 100%;
}

.image-container input {
  margin-bottom: 10px;
}

.meal-image img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.scan-button {
  padding: 10px 20px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scan-button:hover {
  background-color: #ffaa00;
}

.feedback p {
  margin-top: 10px;
  line-height: 1.6;
}
.imgdiv {
  display: flex;
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Centrage vertical */
   /* Par exemple, pour que le conteneur occupe toute la hauteur de l'écran */
}

