h2 {
  font-weight: bold;
}

input {
  border-radius: 8px;
}

button {
  border-radius: 8px;
  font-weight: bold;
}

.container {
  max-width: 900px;
}
.mgr{
  margin-left: 75px;
  margin-right: 75px;
}
