<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-8">
    <!-- Section contenant les deux colonnes -->
    <div class="row">
      <!-- Graphe à gauche -->
      <div class="col-md-6">
        <div class="calorie-chart text-center mb-4 " style="
    background-color: #e5e5e5;
    border-radius: 20px;">
          <canvas id="calorieChart"></canvas>
          <div class="chart-label" style="margin-left: -53px;">
            <p>500</p>
            <span>Remaining</span>
          </div>
        </div>
      </div>

      <!-- Tableau à droite -->
      <div class="col-md-6">
        <div class="weight-info mb-2 d-flex justify-content-center align-items-center" style="height: 93%;
    background-color: #e5e5e5;
    border-radius: 20px;">
          <table class="table table-bordered text-center styled-table">
            <thead>
              <tr>
                <th>Starting Weight</th>
                <th>Current Weight</th>
                <th>Goal Weight</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>90 Kg</td>
                <td>87 Kg</td>
                <td>75 Kg</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <br>

    <div class="row">
      <!-- Colonne pour Objectifs -->
      <div class="col-md-4" >
        <div class="goal mb-4">
          <h3>Choose your goal</h3>
          <ul class="list-unstyled d-flex flex-column align-items-center justify-content-center"
              style="
              background-color: #e5e5e5;
              border-radius: 20px;
              padding: 20px;
              height: 125px;">
            <li><span class="maintaining"></span> Maintaining</li>
            <li><span class="lose-weight"></span> Lose weight</li>
            <li><span class="gain-weight"></span> Gain weight</li>
          </ul>
        </div>
      </div>

      <!-- Colonne pour Citation -->
      <div class="col-md-8">
        <div class="quote">
          <h3>Quote of the Day</h3>
          <blockquote class="blockquote">
            <p>"The greatest wealth is health." – Virgil</p>
            <footer class="blockquote-footer">
              You are doing good, you are losing weight and getting closer to your goal. Keep up the work, we are here to help you.
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  </div>

