<div class="wrapper">
  <div class="container main">
    <div class="row">
      <div class="col-md-6 side-image">
<img src="{{path}}" alt="{{alttext}}">
        <div class="text">
          <p></p>
        </div>
      </div>

      <div class="col-md-6 right">

        <div class="input-box ">
          
          <label class="lbl">Welcome to <strong >FITNAT</strong></label>

          <header class="headerr" >Details</header>
          <form  style="margin-top: -22px;">
            <div class="input-field ">
              <input formControlName="height"
                type="number"
                class="input"
                id="height"
                name="height"
                required
                autocomplete="off">
              <label for="height">Height</label>
            </div>
            <div class="input-field">
              <input formControlName="age"
                type="number"
                class="input"
                id="age"
                name="age"
                required>
              <label for="age">Age</label>
            </div>
            <div class="input-field">
              <input formControlName="weight"
                type="number"
                class="input"
                id="weight"
                name="weight"
                required>
              <label for="weight">Weight</label>
            </div>
            <br>
            <div class="input-field">
              <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <br>





          </form>

        </div>
      </div>
    </div>
  </div>
</div>
